#########################################
# temp files
#########################################
*.Rcheck
*~
..Rcheck
\#*\#

#########################################
# development files
#########################################
.Rhistory
.cache
.vscode

#########################################
# output files
#########################################
*.tar.gz
Meta/
Rplots.pdf
doc/
docs
vignettes/*.R
vignettes/*.html
