#########################################
# temp files
#########################################
*.Rcheck
*~
..Rcheck
\#*\#

#########################################
# development files
#########################################
.Rhistory
.cache
.coverage
.vscode

#########################################
# output files
#########################################
*.tar.gz
/Meta/
/doc/
Rplots.pdf
docs